<!-- <h1>Hello</h1>
<app-hello></app-hello>
<app-event-binding></app-event-binding>
<app-two-way-binding></app-two-way-binding>
<app-child-component [age]="age" (name)="onGetName($event)"></app-child-component> -->
<app-header></app-header>

<div>
    <router-outlet></router-outlet>
</div>

<button (click)="navigate('contact')">Contact</button>
<button (click)="navigate('about')">About</button>

<app-reactive-form></app-reactive-form>
<div [style.margin-top.px]="50">
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let item of todos">
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.completed ? 'Completed' : 'X' }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <form>
        <legend>ADD TODO</legend>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" [(ngModel)]="titles" [ngModelOptions]="{standalone: true}">
        </div>
        <select class="form-control" [(ngModel)]="completed" [ngModelOptions]="{standalone: true}">
            <option value="true">Completed</option>
            <option value="false">X</option>
        </select><br>
        <button type="submit" (click)="onAddTodo()"> ADD </button>
    </form>
</div>